<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCrXYcOk2EvsQe7MfJpYXuUJuGW1oMl-JA</string>
	<key>GCM_SENDER_ID</key>
	<string>1059806326</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.comuniplaza</string>
	<key>PROJECT_ID</key>
	<string>comuniplaza</string>
	<key>STORAGE_BUCKET</key>
	<string>comuniplaza.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1059806326:ios:e0b2658358bdfc99ef1357</string>
</dict>
</plist>